<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AddressBook : Contact List</title>
</head>
<body>

    <table border="1" cellpadding="10">
        <tr>
            <td colspan="2"><h1>Welcome to the Address Book Project</h1></td>
        </tr>
        <tr>
            <td valign="top" bgcolor="#ccc" width="200">
                <a href="/home">Home</a><br><br>
                <a href="/add">Add Contact</a><br><br>
                <b>List Contacts</b><br><br>
                <br>
                <a href="/about">About</a>

            </td>
            <td valign="top">
                {% if contacts_list is defined and contacts_list|length > 0 %}
                    <table border="1" cellpadding="5">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                        </tr>
                        {% for contact in contacts_list %}
                        <tr>
                            <td>{{ contact.first_name }}</td>
                            <td>{{ contact.last_name }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.phone }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    No contacts found
                {% endif %}
            </td>
        </tr>
    </table>
</body>
</html>